<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Scrape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mars Info</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars!</a></p>
    </div>

    <!-- Craigslist Listings -->
        <div class="row">
            <div class="col-sm-12 col-md-12">
                  <div class="jumbotron">
                      <div class="row">
                      <h3>Latest Mars News</h3>
                      <h4 class="heading">{{ mars.news_title }}</h4>
                      <h4 class="heading">{{ mars.news_p }}</h4>
                      <div class="col-sm-12 col-md-8">
                        <h3>Featured Mars Image</h3>
                        <img src="{{ mars.featured_img }}" style="max-width: 100%; max-height: auto;" alt="Featured Image">
                      </div>  
                      <div class="col-sm-12 col-md-4">
                        <h3>Mars Weather</h3>
                        <h4 class="heading">{{ mars.mars_wx }}</h4>
                        <h3>Mars Facts</h3>
                        <h4 class="heading">{{ mars.mars_facts|safe }}</h4>
                      </div>
                      <hr>
                      </div>
                  </div>
            </div>
         </div>
         
         <div class="row">
            <div class="col-sm-12 col-md-12">
                  <div class="jumbotron">
                      <h2>Mars Hemispheres</h2>
                      <div class="row">
                          {% for img in mars.hemisphere_list %}
                           <div class="col-sm-12 col-md-6">
                                <a>
                                  <img src="{{ img.Image }}" alt="{{ img.Title }}" class=img-fluid style="max-width: 100%; max-height: auto;">
                                </a>
                                <hr>
                                <h4 class="heading">{{ img.title }}</h4>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
            </div>
         </div>
    </div>
</body>

</html>

